<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
   
</head>

<body>
	
<div class="container" id="container">
	<div class="sign">

		<form >
			<h1>Create A Taby Account</h1>
        
			
            <span>Use your email for registration</span>
            <br>
            <input #usName class="form-space" required type="text" id="input-username" name="username"  placeholder="Name" />
            <br>
            <input #usMail class="form-space"  required type="email" id="input-email" name="email" placeholder="Email" />
            <br>
			<input #usPw class="form-space"  required type="password" name="password" id="input-password"  placeholder="Password" />
            <br>
            <button class= "normal" type="submit" (click)="addUsers(usName.value, usMail.value, usPw.value)" routerLink="/home">Sign Up </button>
            <br>
            <span>Or</span> <br>
            <button class= "face" type="submit">Sign Up with Facebook</button>
            <br>
            <button class="google" type="submit">Sign Up with Google</button>


      </form>
    
	</div>
		</div>

</body>
</html>

