<header>

	<div class="title"><h1><button class="button menu" routerLink="/home">HABITS</button> | <button class="button menu2" routerLink="/mood"> MOODS</button></h1> </div>
	<br>
	<h1 class="mood_title">Express yourself</h1>
	<h1 class="subtitle">How are you feeling today?</h1>
<hr/>

</header>

<main>
	<div class="mood" style="background-image: url(../../assets/images/Angry.png);"><h3 class="mood_type" >ANGRY</h3></div>
	<div class="mood" style="background-image: url(../../assets/images/Blah.png);"><h3 class="mood_type">BLAH</h3></div>
	<div class="mood" style="background-image: url(../../assets/images/Content.png);"><h3 class="mood_type">CONTENT</h3></div>
	<div class="mood" style="background-image: url(../../assets/images/Dizzy.png);"><h3 class="mood_type">DIZZY</h3></div>
	<div class="mood" style="background-image: url(../../assets/images/Grumpy.png);"><h3 class="mood_type">GRUMPY</h3></div>
	<div class="mood" style="background-image: url(../../assets/images/Happy.png);"><h3 class="mood_type">HAPPY</h3></div>
	<div class="mood" style="background-image: url(../../assets/images/Hopeful.png);"><h3 class="mood_type">HOPEFUL</h3></div>
	<div class="mood" style="background-image: url(../../assets/images/Nervous.png);"><h3 class="mood_type">NERVOUS</h3></div>
	<div class="mood" style="background-image: url(../../assets/images/Prankster.png);"><h3 class="mood_type">PRANKSTER</h3></div>
	<div class="mood" style="background-image: url(../../assets/images/Sad.png);"><h3 class="mood_type">SAD</h3></div>
	<div class="mood" style="background-image: url(../../assets/images/Scared.png);"><h3 class="mood_type">SCARED</h3></div>
	<div class="mood" style="background-image: url(../../assets/images/Sleepy.png);"><h3 class="mood_type">SLEEPY</h3></div>
	<div class="mood" style="background-image: url(../../assets/images/Smiley.png);"><h3 class="mood_type">SMILEY</h3></div>
	<div class="mood" style="background-image: url(../../assets/images/Super.png);"><h3 class="mood_type">SUPER</h3></div>
	<div class="mood" style="background-image: url(../../assets/images/UgaBooga.png);"><h3 class="mood_type">UGABOOGA</h3></div>
	<div class="mood" style="background-image: url(../../assets/images/Worried.png);"><h3 class="mood_type">WORRIED</h3></div>
</main>