<header>
 
	<h1 class="mood_title">Express yourself</h1>
	<h1 class="subtitle">How are you feeling today?</h1>
<hr/>

</header>

<main>
	<div class="mood"><h3 class="mood_type">SUPER</h3></div>
	<div class="mood"><h3 class="mood_type">HAPPY</h3></div>
	<div class="mood"><h3 class="mood_type">SASSY</h3></div>
	<div class="mood"><h3 class="mood_type">ANGRY</h3></div>
	<div class="mood"><h3 class="mood_type">GRUMPY</h3></div>
	<div class="mood"><h3 class="mood_type">JOYFUL</h3></div>
	<div class="mood"><h3 class="mood_type">HAPPY</h3></div>
	<div class="mood"><h3 class="mood_type">SASSY</h3></div>
	<div class="mood"><h3 class="mood_type">ANGRY</h3></div>
	<div class="mood"><h3 class="mood_type">GRUMPY</h3></div>
	<div class="mood"><h3 class="mood_type">JOYFUL</h3></div>
	<div class="mood"><h3 class="mood_type">HAPPY</h3></div>
	<div class="mood"><h3 class="mood_type">SASSY</h3></div>
	<div class="mood"><h3 class="mood_type">ANGRY</h3></div>
	<div class="mood"><h3 class="mood_type">GRUMPY</h3></div>
	<div class="mood"><h3 class="mood_type">JOYFUL</h3></div>
	<div class="mood"><h3 class="mood_type">SUPER</h3></div>
	<div class="mood"><h3 class="mood_type">HAPPY</h3></div>
	<div class="mood"><h3 class="mood_type">SASSY</h3></div>
	<div class="mood"><h3 class="mood_type">ANGRY</h3></div>
	<div class="mood"><h3 class="mood_type">GRUMPY</h3></div>
	<div class="mood"><h3 class="mood_type">JOYFUL</h3></div>
	<div class="mood"><h3 class="mood_type">HAPPY</h3></div>
	<div class="mood"><h3 class="mood_type">SASSY</h3></div>
	<div class="mood"><h3 class="mood_type">ANGRY</h3></div>
	<div class="mood"><h3 class="mood_type">GRUMPY</h3></div>
	<div class="mood"><h3 class="mood_type">JOYFUL</h3></div>
	<div class="mood"><h3 class="mood_type">HAPPY</h3></div>
	<div class="mood"><h3 class="mood_type">SASSY</h3></div>
	<div class="mood"><h3 class="mood_type">ANGRY</h3></div>
	<div class="mood"><h3 class="mood_type">GRUMPY</h3></div>
	<div class="mood"><h3 class="mood_type">JOYFUL</h3></div>
</main>