<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
   
</head>

<body>
	
<div class="container" id="container">
	<div class="sign">

		<form >
			<h1>Create A Taby Administrative Account</h1>
        
            <input class="form-space" required type="text" id="input-username" name="username"  placeholder="Name" />
            <br>
            <input class="form-space"  required type="email" id="input-email" name="email" placeholder="Email" />
            <br>
			<input class="form-space"  required type="password" name="password" id="input-password"  placeholder="Password" />
            <br>
			<input class="form-space"  required type="number" name="age" id="age"  placeholder="Age"/>
            <br>
            <button class= "normal" type="submit">Sign Up </button>
            <br>
            <h1>Or</h1>
            <br>
            <button class= "face" type="submit" routerLink='/login-admin'>Log In </button>

        

      </form>
    
	</div>
		</div>

</body>
</html>


