<div id="login-page">
  <div class="container">
      <form class="form-login" action="" method="post">
        <h2 class="form-login-heading">Super Admin</h2>
        <div class="login-wrap">
            <input type="text" name="username" class="form-control" autocomplete="off" placeholder="User" autofocus>
            <br>
            <input type="password" name="password" class="form-control" placeholder="Password"><br >
            <input  name="login" class="btn btn-theme btn-block" type="submit" value="Login" [routerLink]="'/super-admin'">
        </div>
      </form>	  	
  	</div>
  </div>