<header>
 
<h1><button class="button menu" routerLink="/home">HABITS</button> | <button class="button menu2" routerLink="/mood"> MOODS</button></h1>


</header>

<main>
	<button class="add"><div class="plus"><p>+</p></div></button>
	<button class="habit"><div class="title"><h2 class="habit_title">Water Plants</h2></div><p class="counter">7</p><h3 class="day_text">DAYS AGO</h3></button>
	<button class="habit"><div class="title"><h2 class="habit_title">Cigarettes</h2></div><p class="counter">32</p><h3 class="day_text">DAYS AGO</h3></button>
	<button class="habit"><div class="title"><h2 class="habit_title">Drink Soda</h2></div><p class="counter">1</p><h3 class="day_text">DAYS AGO</h3></button>
	<button class="habit"><div class="title"><h2 class="habit_title">Paint</h2></div><p class="counter">27</p><h3 class="day_text">DAYS AGO</h3></button>
	<button class="habit"><div class="title"><h2 class="habit_title">Play Games</h2></div><p class="counter">0</p><h3 class="day_text">DAYS AGO</h3></button>
	<button class="habit"><div class="title"><h2 class="habit_title">Eat Pizza</h2></div><p class="counter">23</p><h3 class="day_text">DAYS AGO</h3></button>
	<button class="habit"><div class="title"><h2 class="habit_title">Play  Guitar</h2></div><p class="counter">3</p><h3 class="day_text">DAYS AGO</h3></button>
	<div class="counter" data-count="150">0</div>
	
	<script type = ""></script>
</main>