<header>
 
<h1><button class="button menu" routerLink="/home">HABITS</button> | <button class="button menu2" routerLink="/mood"> MOODS</button> | <button class="button menu3" routerLink="/yutu"> CHEERS!</button></h1>


</header>

<main>
	<button class="add" routerLink="/newhab" ><div class="plus"><p>+</p></div></button>
	<div *ngFor="let jab of jabit">
	<button class="habit" routerLink="/detail"><div class="title"><h2 class="habit_title">{{jab.name}}</h2></div><p class="counter">{{jab.days}}</p><h3 class="day_text">DAYS</h3></button>
	</div>
</main>