<header>
 
<h1><button class="button">Habits</button> | <button class="button" [routerLink]="'/mood'"> Moods</button></h1>
<hr/>

</header>

<main>
	<button class="add" [routerLink]="'/newhab'"><div class="plus" [routerLink]="'/newhab'"><p>+</p></div></button>
	<button class="habit"><div class="title"><h2 class="habit_title">Water Plants</h2></div><p class="counter">7</p><h3 class="day_text">DAYS AGO</h3></button>
	<button class="habit"><div class="title"><h2 class="habit_title">Cigarettes</h2></div><p class="counter">32</p><h3 class="day_text">DAYS AGO</h3></button>
	<button class="habit"><div class="title"><h2 class="habit_title">Drink Soda</h2></div><p class="counter">1</p><h3 class="day_text">DAYS AGO</h3></button>
	<button class="habit"><div class="title"><h2 class="habit_title">Paint</h2></div><p class="counter">27</p><h3 class="day_text">DAYS AGO</h3></button>
	<button class="habit"><div class="title"><h2 class="habit_title">Play Games</h2></div><p class="counter">0</p><h3 class="day_text">DAYS AGO</h3></button>
	<button class="habit"><div class="title"><h2 class="habit_title">Eat Pizza</h2></div><p class="counter">23</p><h3 class="day_text">DAYS AGO</h3></button>
	<button class="habit"><div class="title"><h2 class="habit_title">Play  Guitar</h2></div><p class="counter">3</p><h3 class="day_text">DAYS AGO</h3></button>
	
</main>